# Recommendation System's Case Study

# V. Aditya Bharadwaj
# 2211CS010585
# Group-3, CSE

# **Title : Airline Passenger Satisfaction**

**Importing the required libraries**

In [83]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

**Calling datasets**

In [49]:
df_Train = pd.read_csv("Train.csv")
df_Train

,UserID,Gender,Age,FrequentTraveller,AirlineCompany,Class,FlightDistanceKnots,FlightDurationHours,TypeOfTravel,DepartureArrivalTimeConvenient,OnlineBoarding,EaseOfOnlineBooking,InflightEntertainment,LegRoomService,CheckinService,Cleanliness,ArrivalDelayMinutes,Satisfaction
0,1502,Male,55,Yes,SpiceJet,Premium Economy,1660,10.75,International,5,4,2,3,5,1,4,63,Satisfied
1,2587,Male,59,No,IndiGo,Business,5855,8.34,International,2,4,4,4,4,4,4,44,Neutral
2,2654,Male,24,No,Akasa Air,Business,7442,7.59,International,1,3,2,4,1,5,5,174,Neutral
3,1056,Male,68,No,Air India,Business,6352,5.44,International,2,2,3,2,2,5,1,76,Neutral
4,706,Male,38,No,Akasa Air,Premium Economy,588,6.33,International,3,1,3,5,5,1,2,5,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3336,Male,27,No,Lufthansa,Business,7263,9.59,International,3,2,5,3,3,2,2,163,Satisfied
3996,1921,Female,20,Yes,Air India,Business,4506,7.67,Domestic,1,2,4,4,4,4,4,60,Satisfied
3997,3716,Male,20,Yes,Akasa Air,Premium Economy,2328,5.99,International,1,4,5,4,3,4,1,74,Satisfied
3998,4647,Female,26,No,Air India,Business,5398,11.52,Domestic,3,1,3,4,2,5,1,126,Satisfied
3999,947,Male,27,Yes,Emirates,Business,1897,8.38,Domestic,1,1,2,2,2,5,4,106,Satisfied

In [50]:
df_Test = pd.read_csv("Test.csv")
df_Test

,UserID,Gender,Age,FrequentTraveller,AirlineCompany,Class,FlightDistanceKnots,FlightDurationHours,TypeOfTravel,DepartureArrivalTimeConvenient,OnlineBoarding,EaseOfOnlineBooking,InflightEntertainment,LegRoomService,CheckinService,Cleanliness,ArrivalDelayMinutes,Satisfaction
0,4,Male,36,No,Vistara,Economy,5964,7.17,Domestic,3,4,5,2,4,3,4,138,Neutral
1,5,Female,65,Yes,IndiGo,Economy,521,3.25,Domestic,4,5,3,5,4,1,5,43,Satisfied
2,6,Male,31,Yes,IndiGo,Economy,7018,7.95,International,5,4,5,3,2,1,2,92,Satisfied
3,10,Male,18,Yes,Qatar Airways,Economy,701,2.72,International,1,2,2,4,3,3,4,112,Satisfied
4,17,Male,53,Yes,Emirates,Economy,1811,4.39,International,4,1,3,5,5,2,4,3,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4981,Female,53,No,IndiGo,Economy,4402,4.69,International,5,2,5,5,5,5,2,56,Neutral
996,4986,Female,52,Yes,Go First,Business,6377,2.92,Domestic,2,1,3,2,3,2,2,99,Satisfied
997,4987,Male,49,No,Lufthansa,Premium Economy,6289,9.96,International,3,2,1,5,5,2,5,102,Neutral
998,4993,Female,55,Yes,Air India,Economy,7104,7.82,Domestic,2,5,5,5,5,2,4,13,Satisfied
999,4995,Female,20,Yes,SpiceJet,First,1887,4.78,International,3,1,3,4,2,2,5,69,Satisfied

In [51]:
df_Train.head(5)

,UserID,Gender,Age,FrequentTraveller,AirlineCompany,Class,FlightDistanceKnots,FlightDurationHours,TypeOfTravel,DepartureArrivalTimeConvenient,OnlineBoarding,EaseOfOnlineBooking,InflightEntertainment,LegRoomService,CheckinService,Cleanliness,ArrivalDelayMinutes,Satisfaction
0,1502,Male,55,Yes,SpiceJet,Premium Economy,1660,10.75,International,5,4,2,3,5,1,4,63,Satisfied
1,2587,Male,59,No,IndiGo,Business,5855,8.34,International,2,4,4,4,4,4,4,44,Neutral
2,2654,Male,24,No,Akasa Air,Business,7442,7.59,International,1,3,2,4,1,5,5,174,Neutral
3,1056,Male,68,No,Air India,Business,6352,5.44,International,2,2,3,2,2,5,1,76,Neutral
4,706,Male,38,No,Akasa Air,Premium Economy,588,6.33,International,3,1,3,5,5,1,2,5,Satisfied

In [52]:
df_Test.head(5)

,UserID,Gender,Age,FrequentTraveller,AirlineCompany,Class,FlightDistanceKnots,FlightDurationHours,TypeOfTravel,DepartureArrivalTimeConvenient,OnlineBoarding,EaseOfOnlineBooking,InflightEntertainment,LegRoomService,CheckinService,Cleanliness,ArrivalDelayMinutes,Satisfaction
0,4,Male,36,No,Vistara,Economy,5964,7.17,Domestic,3,4,5,2,4,3,4,138,Neutral
1,5,Female,65,Yes,IndiGo,Economy,521,3.25,Domestic,4,5,3,5,4,1,5,43,Satisfied
2,6,Male,31,Yes,IndiGo,Economy,7018,7.95,International,5,4,5,3,2,1,2,92,Satisfied
3,10,Male,18,Yes,Qatar Airways,Economy,701,2.72,International,1,2,2,4,3,3,4,112,Satisfied
4,17,Male,53,Yes,Emirates,Economy,1811,4.39,International,4,1,3,5,5,2,4,3,Satisfied

In [53]:
def assign_food_rating(airline):
    high_quality = ["Emirates", "Singapore Airlines", "Qatar Airways", "Lufthansa", "Vistara"]
    good_quality = ["Air India", "Go First", "SpiceJet"]
    average_quality = ["IndiGo", "Akasa Air"]

    if airline in high_quality:
        return 5  # Excellent
    elif airline in good_quality:
        return 4  # Good
    elif airline in average_quality:
        return 3  
    else:
        return 2
df_Train["FCatering_Services"] = df_Train["AirlineCompany"].apply(assign_food_rating)
df_Test["FCatering_Services"] = df_Test["AirlineCompany"].apply(assign_food_rating)

# Verify if the new column is added correctly
print(df_Train[["AirlineCompany", "FCatering_Services"]].head(10))
print(df_Test[["AirlineCompany", "FCatering_Services"]].head(10))

  AirlineCompany  FCatering_Services
0       SpiceJet                   4
1         IndiGo                   3
2      Akasa Air                   3
3      Air India                   4
4      Akasa Air                   3
5         IndiGo                   3
6        Vistara                   5
7        Vistara                   5
8      Air India                   4
9      Air India                   4
  AirlineCompany  FCatering_Services
0        Vistara                   5
1         IndiGo                   3
2         IndiGo                   3
3  Qatar Airways                   5
4       Emirates                   5
5        Vistara                   5
6      Air India                   4
7         IndiGo                   3
8       SpiceJet                   4
9      Air India                   4

In [84]:
df_Train

,UserID,Gender,Age,FrequentTraveller,AirlineCompany,Class,FlightDistanceKnots,FlightDurationHours,TypeOfTravel,DepartureArrivalTimeConvenient,OnlineBoarding,EaseOfOnlineBooking,InflightEntertainment,LegRoomService,CheckinService,Cleanliness,ArrivalDelayMinutes,Satisfaction,FCatering_Services,combined_features
0,1502,Male,55,Yes,SpiceJet,Premium Economy,1660,10.75,International,5,4,2,3,5,1,4,63,Satisfied,4,SpiceJet Premium Economy International Satisfied
1,2587,Male,59,No,IndiGo,Business,5855,8.34,International,2,4,4,4,4,4,4,44,Neutral,3,IndiGo Business International Neutral
2,2654,Male,24,No,Akasa Air,Business,7442,7.59,International,1,3,2,4,1,5,5,174,Neutral,3,Akasa Air Business International Neutral
3,1056,Male,68,No,Air India,Business,6352,5.44,International,2,2,3,2,2,5,1,76,Neutral,4,Air India Business International Neutral
4,706,Male,38,No,Akasa Air,Premium Economy,588,6.33,International,3,1,3,5,5,1,2,5,Satisfied,3,Akasa Air Premium Economy International Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3336,Male,27,No,Lufthansa,Business,7263,9.59,International,3,2,5,3,3,2,2,163,Satisfied,5,Lufthansa Business International Satisfied
3996,1921,Female,20,Yes,Air India,Business,4506,7.67,Domestic,1,2,4,4,4,4,4,60,Satisfied,4,Air India Business Domestic Satisfied
3997,3716,Male,20,Yes,Akasa Air,Premium Economy,2328,5.99,International,1,4,5,4,3,4,1,74,Satisfied,3,Akasa Air Premium Economy International Satisfied
3998,4647,Female,26,No,Air India,Business,5398,11.52,Domestic,3,1,3,4,2,5,1,126,Satisfied,4,Air India Business Domestic Satisfied
3999,947,Male,27,Yes,Emirates,Business,1897,8.38,Domestic,1,1,2,2,2,5,4,106,Satisfied,5,Emirates Business Domestic Satisfied

# Content Based Filtering

**Combine Text Features**

In [54]:
df_Train["combined_features"] = df_Train["AirlineCompany"] + " " + df_Train["Class"] + " " + df_Train["TypeOfTravel"] + " " + df_Train["Satisfaction"]

**Convert Text to Numerical Features**

In [55]:
tfidf = TfidfVectorizer(stop_words="english")
tfidf_matrix = tfidf.fit_transform(df_Train["combined_features"])

# Applying Cosine Similarity

In [56]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

**Apply Content-Based Filtering to Test Data**

**Function to Recommend Flights for New Users**

**Generating recommendations**

**Analysed by comparing in various Scenarios**

In [88]:
df_Train["FCatering_Services"] = df_Train["AirlineCompany"].apply(assign_food_rating)

# Combine features for content-based filtering
df_Train["FoodExperience"] = df_Train["AirlineCompany"] + " " + df_Train["Class"]

# Convert text features into TF-IDF matrix
vectorizer = TfidfVectorizer(stop_words="english")
tfidf_matrix = vectorizer.fit_transform(df_Train["FoodExperience"])

# Compute cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Select a random user for recommendation
user_index = np.random.choice(df_Train.index)
user_id = df_Train.loc[user_index, "UserID"]

# Get similar airlines based on cosine similarity
similar_scores = list(enumerate(cosine_sim[user_index]))
similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)
top_index = similar_scores[1][0]  # Top similar airline (excluding self)

recommended_airline = df_Train.loc[top_index, "AirlineCompany"]

# Print Recommendation
print(f"Recommendation for user '{user_id}' # based on airline class preference and food experience: >", recommended_airline,"Airlines")

Recommendation for user '4833' # based on airline class preference and food experience: > IndiGo Airlines

**User who wants a recommendation for best inflight entertainment**

In [90]:
df_Train["EntertainmentExperience"] = df_Train["AirlineCompany"] + " " + df_Train["Class"] + " " + df_Train["InflightEntertainment"].astype(str)

# Convert text features into TF-IDF matrix
vectorizer = TfidfVectorizer(stop_words="english")
tfidf_matrix = vectorizer.fit_transform(df_Train["EntertainmentExperience"])

# Compute cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Select a random user for recommendation
user_index = np.random.choice(df_Train.index)
user_id = df_Train.loc[user_index, "UserID"]

# Get similar airlines based on cosine similarity
similar_scores = list(enumerate(cosine_sim[user_index]))
similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)
top_index = similar_scores[1][0]  # Top similar airline (excluding self)

recommended_airline = df_Train.loc[top_index, "AirlineCompany"]

# Print Recommendation
print(f"Recommendation for user '{user_id}' # for best inflight entertainment,", recommended_airline,"Airlines")

Recommendation for user '3198' # for best inflight entertainment, Air India Airlines

**A user who values time management and punctuality needs a recommendation.**

In [93]:
df_Train["PunctualityExperience"] = df_Train["AirlineCompany"] + " " + df_Train["Class"] + " " + df_Train["ArrivalDelayMinutes"].astype(str)

# Convert text features into TF-IDF matrix
vectorizer = TfidfVectorizer(stop_words="english")
tfidf_matrix = vectorizer.fit_transform(df_Train["PunctualityExperience"])

# Compute cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Select a random user for recommendation
user_index = np.random.choice(df_Train.index)
user_id = df_Train.loc[user_index, "UserID"]

# Get similar airlines based on cosine similarity
similar_scores = list(enumerate(cosine_sim[user_index]))
similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)
top_index = similar_scores[1][0]  # Top similar airline (excluding self)

recommended_airline = df_Train.loc[top_index, "AirlineCompany"]

# Print Recommendation
print(f"Recommendation for user '{user_id}' # for best time management and punctuality: ", recommended_airline)

Recommendation for user '4069' # for best time management and punctuality:  IndiGo

**A user who values in-flight food on international flights needs a recommendation.**

In [97]:
df_International = df_Train[df_Train["TypeOfTravel"] == "International"].reset_index(drop=True)

# Define food rating function
def assign_food_rating(airline):
    high_quality = ["Emirates", "Singapore Airlines", "Qatar Airways", "Lufthansa", "Vistara"]
    good_quality = ["Air India", "Go First", "SpiceJet"]
    average_quality = ["IndiGo", "Akasa Air"]
    
    if airline in high_quality:
        return 5  
    elif airline in good_quality:
        return 4  
    elif airline in average_quality:
        return 3  
    else:
        return 2  

# Assign food ratings using .loc[]
df_International.loc[:, "FCatering_Services"] = df_International["AirlineCompany"].apply(assign_food_rating)

# Combine relevant features for recommendation
df_International.loc[:, "InternationalFoodExperience"] = (
    df_International["AirlineCompany"] + " " +
    df_International["Class"] + " " +
    df_International["FCatering_Services"].astype(str)
)

# Convert text features into TF-IDF matrix
vectorizer = TfidfVectorizer(stop_words="english")
tfidf_matrix = vectorizer.fit_transform(df_International["InternationalFoodExperience"])

# Compute cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Select a random user for recommendation
user_index = np.random.choice(df_International.index)
user_id = df_International.loc[user_index, "UserID"]

# Get similar airlines based on cosine similarity
similar_scores = list(enumerate(cosine_sim[user_index]))
similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)
top_index = similar_scores[1][0]  # Top similar airline (excluding self)

# Ensure correct indexing by using iloc[]
recommended_airline = df_International.iloc[top_index]["AirlineCompany"]

# Print Recommendation
print(f"Recommendation for user '{user_id}' # for best in-flight food on international flights:", recommended_airline)

Recommendation for user '2216' # for best in-flight food on international flights: Singapore Airlines

**A domestic traveler who values efficient online boarding.**

In [98]:
df_Domestic = df_Train[df_Train["TypeOfTravel"] == "Domestic"].reset_index(drop=True)

# Combine relevant features for recommendation
df_Domestic.loc[:, "BoardingExperience"] = (
    df_Domestic["AirlineCompany"] + " " +
    df_Domestic["Class"] + " " +
    df_Domestic["OnlineBoarding"].astype(str)
)

# Convert text features into TF-IDF matrix
vectorizer = TfidfVectorizer(stop_words="english")
tfidf_matrix = vectorizer.fit_transform(df_Domestic["BoardingExperience"])

# Compute cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Select a random user for recommendation
user_index = np.random.choice(df_Domestic.index)
user_id = df_Domestic.loc[user_index, "UserID"]

# Get similar airlines based on cosine similarity
similar_scores = list(enumerate(cosine_sim[user_index]))
similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)
top_index = similar_scores[1][0]  # Top similar airline (excluding self)

# Ensure correct indexing using iloc[]
recommended_airline = df_Domestic.iloc[top_index]["AirlineCompany"]

# Print Recommendation
print(f"Recommendation for user '{user_id}' # for best online boarding experience in domestic travel,", recommended_airline)

Recommendation for user '1980' # for best online boarding experience in domestic travel, IndiGo

**A user who wants the best in-flight entertainment experience for international flights.**

In [101]:
df_International = df_Train[df_Train["TypeOfTravel"] == "International"].reset_index(drop=True)

# Combine relevant features for recommendation
df_International.loc[:, "EntertainmentExperience"] = (
    df_International["AirlineCompany"] + " " +
    df_International["Class"] + " " +
    df_International["InflightEntertainment"].astype(str)
)

# Convert text features into TF-IDF matrix
vectorizer = TfidfVectorizer(stop_words="english")
tfidf_matrix = vectorizer.fit_transform(df_International["EntertainmentExperience"])

# Compute cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Select a random user for recommendation
user_index = np.random.choice(df_International.index)
user_id = df_International.loc[user_index, "UserID"]

# Get similar airlines based on cosine similarity
similar_scores = list(enumerate(cosine_sim[user_index]))
similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)
top_index = similar_scores[1][0]  # Top similar airline (excluding self)

# Ensure correct indexing using iloc[]
recommended_airline = df_International.iloc[top_index]["AirlineCompany"]

# Print Recommendation
print(f"Recommendation for user '{user_id}' # for best in-flight entertainment on international flights,", recommended_airline)

Recommendation for user '2768' # for best in-flight entertainment on international flights, IndiGo

**A user who prioritizes smooth check-in for domestic flights.**

In [104]:
# Filter only domestic flights and reset index
df_Domestic = df_Train[df_Train["TypeOfTravel"] == "Domestic"].reset_index(drop=True)

# Combine relevant features for recommendation
df_Domestic.loc[:, "CheckInExperience"] = (
    df_Domestic["AirlineCompany"] + " " +
    df_Domestic["Class"] + " " +
    df_Domestic["CheckinService"].astype(str)  # Corrected column name
)

# Convert text features into TF-IDF matrix
vectorizer = TfidfVectorizer(stop_words="english")
tfidf_matrix = vectorizer.fit_transform(df_Domestic["CheckInExperience"])

# Compute cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Select a random user for recommendation
user_index = np.random.choice(df_Domestic.index)
user_id = df_Domestic.loc[user_index, "UserID"]

# Get similar airlines based on cosine similarity
similar_scores = list(enumerate(cosine_sim[user_index]))
similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)
top_index = similar_scores[1][0]  # Top similar airline (excluding self)

# Ensure correct indexing using iloc[]
recommended_airline = df_Domestic.iloc[top_index]["AirlineCompany"]

# Print Recommendation
print(f"Recommendation for user '{user_id}' # for best smooth check-in experience in domestic travel,", recommended_airline)

Recommendation for user '1625' # for best smooth check-in experience in domestic travel, IndiGo

**A user who understands delays but wants an airline with the least delays.**

In [105]:
df_Train["ArrivalDelayMinutes"] = df_Train["ArrivalDelayMinutes"].fillna(0)

# Convert delay time into a categorical experience (lower delay = better)
df_Train.loc[:, "PunctualityExperience"] = (
    df_Train["AirlineCompany"] + " " +
    df_Train["Class"] + " " +
    (1 / (1 + df_Train["ArrivalDelayMinutes"])).astype(str)  # Smaller delay gets higher similarity
)

# Convert text features into TF-IDF matrix
vectorizer = TfidfVectorizer(stop_words="english")
tfidf_matrix = vectorizer.fit_transform(df_Train["PunctualityExperience"])

# Compute cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Select a random user for recommendation
user_index = np.random.choice(df_Train.index)
user_id = df_Train.loc[user_index, "UserID"]

# Get similar airlines based on cosine similarity
similar_scores = list(enumerate(cosine_sim[user_index]))
similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)
top_index = similar_scores[1][0]  # Top similar airline (excluding self)

# Ensure correct indexing using iloc[]
recommended_airline = df_Train.iloc[top_index]["AirlineCompany"]

# Print Recommendation
print(f"Recommendation for user '{user_id}' # for an airline with the least delays,", recommended_airline)

Recommendation for user '2942' # for an airline with the least delays, Emirates

**A user who wants the cleanest international airline experience.**

In [106]:
df_International = df_Train[df_Train["TypeOfTravel"] == "International"].reset_index(drop=True)

# Combine relevant features for recommendation
df_International.loc[:, "CleanlinessExperience"] = (
    df_International["AirlineCompany"] + " " +
    df_International["Class"] + " " +
    df_International["Cleanliness"].astype(str)  # Higher values indicate cleaner airlines
)

# Convert text features into TF-IDF matrix
vectorizer = TfidfVectorizer(stop_words="english")
tfidf_matrix = vectorizer.fit_transform(df_International["CleanlinessExperience"])

# Compute cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Select a random user for recommendation
user_index = np.random.choice(df_International.index)
user_id = df_International.loc[user_index, "UserID"]

# Get similar airlines based on cosine similarity
similar_scores = list(enumerate(cosine_sim[user_index]))
similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)
top_index = similar_scores[1][0]  # Top similar airline (excluding self)

# Ensure correct indexing using iloc[]
recommended_airline = df_International.iloc[top_index]["AirlineCompany"]

# Print Recommendation
print(f"Recommendation for user '{user_id}' # for the cleanest international airline experience,", recommended_airline)

Recommendation for user '349' # for the cleanest international airline experience, Vistara

**A user who prefers Akasa Air due to satisfaction.**

In [116]:
df_Akasa = df_Train[df_Train["AirlineCompany"] == "Akasa Air"]

# Check if Akasa Air exists in the dataset
if df_Akasa.empty:
    print("No data available for Akasa Air.")
else:
    # Extract relevant features for similarity
    df_Train.loc[:, "SatisfactionExperience"] = (
        df_Train["AirlineCompany"] + " " +
        df_Train["Class"] + " " +
        df_Train["Satisfaction"].astype(str)
    )

    # Convert text features into TF-IDF matrix
    vectorizer = TfidfVectorizer(stop_words="english")
    tfidf_matrix = vectorizer.fit_transform(df_Train["SatisfactionExperience"])

    # Compute cosine similarity
    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

    # Get index of an Akasa Air user
    akasa_index = df_Akasa.index[0]

    # Get similar airlines based on cosine similarity
    similar_scores = list(enumerate(cosine_sim[akasa_index]))
    similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)

    # Find the top recommendation excluding Akasa Air itself
    for idx, score in similar_scores[1:]:  # Skip index 0 (itself)
        recommended_airline = df_Train.iloc[idx]["AirlineCompany"]
        if recommended_airline != "Akasa Air":
            user_id = df_Train.iloc[idx]["UserID"]
            break  # Stop at the first valid recommendation

    # Print Recommendation
    print(f"Recommendation for user '{user_id}' # who prefers Akasa Air due to satisfaction,", recommended_airline)

Recommendation for user '1056' # who prefers Akasa Air due to satisfaction, Air India
Recommendation for user '1056' # who prefers Akasa Air due to satisfaction, Air India

**A user who loves IndiGo's time-based efficiency and wants similar airlines.**

In [110]:
df_IndiGo = df_Train[df_Train["AirlineCompany"] == "IndiGo"]

# Check if IndiGo exists in the dataset
if df_IndiGo.empty:
    print("No data available for IndiGo.")
else:
    # Combine relevant features for similarity (time efficiency = punctuality + convenience)
    df_Train.loc[:, "PunctualityExperience"] = (
        df_Train["AirlineCompany"] + " " +
        df_Train["Class"] + " " +
        df_Train["DepartureArrivalTimeConvenient"].astype(str) + " " +
        df_Train["OnlineBoarding"].astype(str)
    )

    # Convert text features into TF-IDF matrix
    vectorizer = TfidfVectorizer(stop_words="english")
    tfidf_matrix = vectorizer.fit_transform(df_Train["PunctualityExperience"])

    # Compute cosine similarity
    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

    # Get index of an IndiGo user
    indigo_index = df_IndiGo.index[0]

    # Get similar airlines based on cosine similarity
    similar_scores = list(enumerate(cosine_sim[indigo_index]))
    similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)

    # Find the top recommendation excluding IndiGo itself
    for idx, score in similar_scores[1:]:  # Skip index 0 (itself)
        recommended_airline = df_Train.iloc[idx]["AirlineCompany"]
        if recommended_airline != "IndiGo":
            user_id = df_Train.iloc[idx]["UserID"]
            break  # Stop at the first valid recommendation

    # Print Recommendation
    print(f"Recommendation for user '{user_id}' # who loves IndiGo's time-based efficiency,", recommended_airline)

Recommendation for user '2237' # who loves IndiGo's time-based efficiency, Go First

**A user who wants the top 5 international airlines based on satisfaction.**

In [112]:
satisfaction_mapping = {"Dissatisfied": 1, "Neutral": 2, "Satisfied": 3}

# Convert Satisfaction to numeric values
df_Train["Satisfaction"] = df_Train["Satisfaction"].map(satisfaction_mapping)

# Filter only international flights
df_International = df_Train[df_Train["TypeOfTravel"] == "International"]

# Find the top 5 international airlines based on satisfaction scores
top_5_airlines = (
    df_International.groupby("AirlineCompany")["Satisfaction"]
    .mean()
    .sort_values(ascending=False)
    .head(5)
)

# Print Recommendation
print("Recommendation for a user who wants the top 5 international airlines based on satisfaction:")
print(top_5_airlines)

Recommendation for a user who wants the top 5 international airlines based on satisfaction:
AirlineCompany
Emirates     2.480519
SpiceJet     2.473958
Go First     2.473214
Lufthansa    2.448980
IndiGo       2.444444
Name: Satisfaction, dtype: float64

**Top 5 Cheapest Domestic Airlines**

In [113]:
df_Domestic = df_Train[df_Train["TypeOfTravel"] == "Domestic"]

# Find the airlines with the highest number of Economy class passengers
top_5_cheapest_airlines = (
    df_Domestic[df_Domestic["Class"] == "Economy"]
    .groupby("AirlineCompany")
    .size()
    .sort_values(ascending=False)
    .head(5)
)

# Print Recommendation
print("Recommendation for a user looking for the top 5 cheapest domestic airlines:")
print(top_5_cheapest_airlines)

Recommendation for a user looking for the top 5 cheapest domestic airlines:
AirlineCompany
IndiGo       360
Air India    239
Vistara      163
SpiceJet     103
Emirates      71
dtype: int64

**Top 5 Cheapest International Airlines**

In [114]:
df_International = df_Train[df_Train["TypeOfTravel"] == "International"]

# Find the airlines with the highest number of Economy class passengers
top_5_cheapest_airlines = (
    df_International[df_International["Class"] == "Economy"]
    .groupby("AirlineCompany")
    .size()
    .sort_values(ascending=False)
    .head(5)
)

# Print Recommendation
print("Recommendation for a user looking for the top 5 cheapest international airlines:")
print(top_5_cheapest_airlines)

Recommendation for a user looking for the top 5 cheapest international airlines:
AirlineCompany
IndiGo       381
Air India    223
Vistara      199
SpiceJet     125
Go First      78
dtype: int64

**A User Who Wants the Best Customer Service (International Flights)**

In [117]:
top_5_customer_service = (
    df_International.groupby("AirlineCompany")["CheckinService"]
    .mean()
    .sort_values(ascending=False)
    .head(5)
)

print("Top 5 International Airlines for Best Customer Service:")
print(top_5_customer_service)

Top 5 International Airlines for Best Customer Service:
AirlineCompany
Lufthansa        3.265306
Emirates         3.142857
Qatar Airways    3.103093
Go First         3.089286
Vistara          3.046921
Name: CheckinService, dtype: float64

**A Business Traveler Who Needs Maximum In-Flight Comfort**

In [118]:
top_5_comfort = (
    df_International.groupby("AirlineCompany")["LegRoomService"]
    .mean()
    .sort_values(ascending=False)
    .head(5)
)

print("Top 5 International Airlines for Maximum In-Flight Comfort:")
print(top_5_comfort)

Top 5 International Airlines for Maximum In-Flight Comfort:
AirlineCompany
Emirates         3.636364
Qatar Airways    3.247423
IndiGo           3.019048
Go First         3.008929
Akasa Air        3.000000
Name: LegRoomService, dtype: float64

**A User Looking for the Most Punctual Domestic Airlines**

### **Based on some Scenarios as how as same done for Content Based filtering queries above**

In [119]:
top_5_punctual = (
    df_Domestic.groupby("AirlineCompany")["ArrivalDelayMinutes"]
    .mean()
    .sort_values(ascending=True) 
    .head(5)
)

print("Top 5 Most Punctual Domestic Airlines:")
print(top_5_punctual)

Top 5 Most Punctual Domestic Airlines:
AirlineCompany
Lufthansa    79.294118
Akasa Air    84.628866
Air India    90.641148
SpiceJet     91.220430
IndiGo       91.408935
Name: ArrivalDelayMinutes, dtype: float64

**A User Who Prefers Airlines with the Easiest Online Booking**

In [120]:
top_5_online_booking = (
    df_Train.groupby("AirlineCompany")["EaseOfOnlineBooking"]
    .mean()
    .sort_values(ascending=False)
    .head(5)
)

print("Top 5 Airlines with the Easiest Online Booking:")
print(top_5_online_booking)

Top 5 Airlines with the Easiest Online Booking:
AirlineCompany
Emirates         3.140541
SpiceJet         3.050265
Qatar Airways    3.045918
Go First         3.045662
Air India        3.036160
Name: EaseOfOnlineBooking, dtype: float64

**A Luxury Traveler Looking for the Best Business/First Class Experience**

In [121]:
top_5_luxury_airlines = (
    df_Train[df_Train["Class"].isin(["Business", "First"])]
    .groupby("AirlineCompany")
    .size()
    .sort_values(ascending=False)
    .head(5)
)

print("Top 5 Airlines for the Best Luxury (Business/First Class) Experience:")
print(top_5_luxury_airlines)

Top 5 Airlines for the Best Luxury (Business/First Class) Experience:
AirlineCompany
IndiGo           347
Air India        266
Vistara          177
SpiceJet         122
Qatar Airways     69
dtype: int64

**Recommend Airlines Based on a User Who Prefers On-Time Flights (IndiGo)**

In [68]:
top_on_time = df_Train.groupby("AirlineCompany")["ArrivalDelayMinutes"].mean().sort_values().head(5)
print("Top 5 Recommended Airlines for On-Time Performance:")
print(top_on_time)

Top 5 Recommended Airlines for On-Time Performance:
AirlineCompany
Akasa Air        80.828571
Lufthansa        84.180000
Qatar Airways    85.719388
SpiceJet         89.314815
IndiGo           89.579208
Name: ArrivalDelayMinutes, dtype: float64

**Top Airlines for High-Quality Food on International Flights.**

In [26]:
top_food = df_Train[df_Train["TypeOfTravel"] == "International"] \
    .groupby("AirlineCompany")["Cleanliness"].mean() \
    .sort_values(ascending=False).round(1).head(5)

print("Top Airlines for High-Quality Food on International Flights:")
print(top_food)

Top Airlines for High-Quality Food on International Flights:
AirlineCompany
SpiceJet     3.1
Air India    3.1
IndiGo       3.1
Go First     3.0
Vistara      3.0
Name: Cleanliness, dtype: float64

**Top Airlines for Online Boarding (Domestic)**

In [27]:
top_online_boarding = df_Train[df_Train["TypeOfTravel"] == "Domestic"] \
    .groupby("AirlineCompany")["OnlineBoarding"].sum() \
    .sort_values(ascending=False).head(5)

print("Top Airlines for Online Boarding (Domestic):")
print(top_online_boarding)

Top Airlines for Online Boarding (Domestic):
AirlineCompany
IndiGo       1745
Air India    1244
Vistara       863
SpiceJet      567
Emirates      335
Name: OnlineBoarding, dtype: int64

**Top Airlines for In-Flight Entertainment**

In [28]:
top_inflight_entertainment = df_Train.groupby("AirlineCompany")["InflightEntertainment"] \
    .mean().sort_values(ascending=False).round(1).head(5)

print("Top Airlines for In-Flight Entertainment:")
print(top_inflight_entertainment)

Top Airlines for In-Flight Entertainment:
AirlineCompany
Singapore Airlines    3.2
Vistara               3.1
Akasa Air             3.1
Go First              3.1
SpiceJet              3.0
Name: InflightEntertainment, dtype: float64

**Best Domestic Airlines for Check-in Service**

In [29]:
domestic_airlines = df_Train[df_Train["TypeOfTravel"] == "Domestic"]

best_domestic_checkin = domestic_airlines.groupby("AirlineCompany")["CheckinService"].mean()

best_domestic_checkin_scaled = (best_domestic_checkin / best_domestic_checkin.max()) * 4.8  # Adjusting to 4.8 scale

top_domestic_checkin = best_domestic_checkin_scaled.sort_values(ascending=False).head(5)

print("Best Domestic Airlines for Check-in Service:")
print(top_domestic_checkin)

Best Domestic Airlines for Check-in Service:
AirlineCompany
Go First              4.800000
Singapore Airlines    4.792874
Akasa Air             4.742340
Air India             4.637038
IndiGo                4.629792
Name: CheckinService, dtype: float64

**Top 5 International Airlines for Overall Satisfaction**

In [69]:
df_Train

,UserID,Gender,Age,FrequentTraveller,AirlineCompany,Class,FlightDistanceKnots,FlightDurationHours,TypeOfTravel,DepartureArrivalTimeConvenient,OnlineBoarding,EaseOfOnlineBooking,InflightEntertainment,LegRoomService,CheckinService,Cleanliness,ArrivalDelayMinutes,Satisfaction,FCatering_Services,combined_features
0,1502,Male,55,Yes,SpiceJet,Premium Economy,1660,10.75,International,5,4,2,3,5,1,4,63,Satisfied,4,SpiceJet Premium Economy International Satisfied
1,2587,Male,59,No,IndiGo,Business,5855,8.34,International,2,4,4,4,4,4,4,44,Neutral,3,IndiGo Business International Neutral
2,2654,Male,24,No,Akasa Air,Business,7442,7.59,International,1,3,2,4,1,5,5,174,Neutral,3,Akasa Air Business International Neutral
3,1056,Male,68,No,Air India,Business,6352,5.44,International,2,2,3,2,2,5,1,76,Neutral,4,Air India Business International Neutral
4,706,Male,38,No,Akasa Air,Premium Economy,588,6.33,International,3,1,3,5,5,1,2,5,Satisfied,3,Akasa Air Premium Economy International Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3336,Male,27,No,Lufthansa,Business,7263,9.59,International,3,2,5,3,3,2,2,163,Satisfied,5,Lufthansa Business International Satisfied
3996,1921,Female,20,Yes,Air India,Business,4506,7.67,Domestic,1,2,4,4,4,4,4,60,Satisfied,4,Air India Business Domestic Satisfied
3997,3716,Male,20,Yes,Akasa Air,Premium Economy,2328,5.99,International,1,4,5,4,3,4,1,74,Satisfied,3,Akasa Air Premium Economy International Satisfied
3998,4647,Female,26,No,Air India,Business,5398,11.52,Domestic,3,1,3,4,2,5,1,126,Satisfied,4,Air India Business Domestic Satisfied
3999,947,Male,27,Yes,Emirates,Business,1897,8.38,Domestic,1,1,2,2,2,5,4,106,Satisfied,5,Emirates Business Domestic Satisfied