In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Test").getOrCreate()

In [3]:
data = spark.read.csv("MIDMARKS.csv", header=True)

In [4]:
data.show()

+----+-------+---+----+---+----+---+----+
|S.NO|SECTION| DV|M-II| PP|BEEE| FL|FIMS|
+----+-------+---+----+---+----+---+----+
|   1|  ALPHA| 12|   0| 17|   9| 19|  15|
|   2|  ALPHA| 19|  12| 16|  16| 18|   3|
|   3|  ALPHA| 18|  14| 18|  18| 18|  16|
|   4|  ALPHA| 15|   9| 19|  17| 19|  15|
|   5|  ALPHA| 18|  17| 19|  19| 20|  18|
|   6|  ALPHA| 17|  16| 18|  10| 15|   9|
|   7|  ALPHA| 15|  10| 20|  20| 15|  14|
|   8|  ALPHA| 17|  17| 19|  20| 19|  13|
|   9|  ALPHA| 10|  18|  A|  20| 19|  15|
|  10|  ALPHA| 18|  19| 20|  20| 20|  15|
|  11|  ALPHA| 17|  18| 20|  18| 20|  18|
|  12|  ALPHA| 20|  20| 20|  20| 19|  16|
|  13|  ALPHA| 16|  18| 11|  15| 19|  15|
|  14|  ALPHA| 17|  17| 18|  11| 15|   9|
|  15|  ALPHA| 19|  20| 20|  20| 18|  12|
|  16|  ALPHA| 13|  18| 17|  19| 16|   9|
|  17|  ALPHA| 15|  17| 18|  17| 17|  13|
|  18|  ALPHA| 11|   8| 18|  15| 19|  15|
|  19|  ALPHA| 14|  12| 16|  16| 20|  14|
|  20|  ALPHA| 19|  17| 20|  20| 20|  18|
+----+-------+---+----+---+----+---+----+
only showing top 20 rows

In [6]:
data.printSchema()

root
 |-- S.NO: string (nullable = true)
 |-- SECTION: string (nullable = true)
 |-- DV: string (nullable = true)
 |-- M-II: string (nullable = true)
 |-- PP: string (nullable = true)
 |-- BEEE: string (nullable = true)
 |-- FL: string (nullable = true)
 |-- FIMS: string (nullable = true)

In [7]:
data.groupBy("SECTION").count().show()

+-------+-----+
|SECTION|count|
+-------+-----+
|   GAMA|    1|
|   ZETA|   19|
|   SGMA|    1|
|   NULL|   41|
|   BETA|   60|
|  OMEGA|   60|
|EPSILON|   60|
|  SIGMA|   59|
|  ALPHA|   60|
|  GAMMA|   59|
|  DELTA|   60|
+-------+-----+

In [8]:
data = data.na.fill({"SECTION": "ZETA"})
data.groupBy("SECTION").count().show()

+-------+-----+
|SECTION|count|
+-------+-----+
|   GAMA|    1|
|   ZETA|   60|
|   SGMA|    1|
|   BETA|   60|
|  OMEGA|   60|
|EPSILON|   60|
|  SIGMA|   59|
|  ALPHA|   60|
|  GAMMA|   59|
|  DELTA|   60|
+-------+-----+

In [10]:
from pyspark.sql.functions import when, col
data = data.withColumn(
    "SECTION",
    when(col("SECTION") == "GAMA", "GAMMA")
    .when(col("SECTION") == "SGMA", "SIGMA")
    .otherwise(col("SECTION"))
)

In [11]:
data.groupBy("SECTION").count().show()

+-------+-----+
|SECTION|count|
+-------+-----+
|   ZETA|   60|
|   BETA|   60|
|  OMEGA|   60|
|EPSILON|   60|
|  SIGMA|   60|
|  ALPHA|   60|
|  GAMMA|   60|
|  DELTA|   60|
+-------+-----+

In [12]:
data.groupBy("DV").count().show()

+----+-----+
|  DV|count|
+----+-----+
|   7|    6|
|  15|   45|
|  11|   31|
|   3|    1|
|   8|   10|
|  16|   48|
|NULL|    1|
|   5|    8|
|  18|   47|
|  2o|    1|
|  17|   52|
|   6|    9|
|  19|   37|
|   A|    8|
|   9|   14|
|   1|    3|
|  20|   52|
|  10|   22|
|   4|    3|
|  12|   27|
+----+-----+
only showing top 20 rows

In [14]:
data = data.na.fill({"DV": "0"})
data.groupBy("DV").count().show()

+---+-----+
| DV|count|
+---+-----+
|  7|    6|
| 15|   45|
| 11|   31|
|  3|    1|
|  8|   10|
| 16|   48|
|  0|    1|
|  5|    8|
| 18|   47|
| 2o|    1|
| 17|   52|
|  6|    9|
| 19|   37|
|  A|    8|
|  9|   14|
|  1|    3|
| 20|   52|
| 10|   22|
|  4|    3|
| 12|   27|
+---+-----+
only showing top 20 rows

In [16]:
data = data.withColumn(
 "DV",
 when(col("DV") == "A",0)
 .otherwise(col("DV"))
)

In [18]:
data.groupBy("M-II").count().show()

+----+-----+
|M-II|count|
+----+-----+
|   7|   14|
|  15|   24|
|  11|   24|
|   3|   34|
|   8|   29|
|  16|   16|
|   0|   24|
|NULL|    3|
|   5|   23|
|  18|   23|
|  I2|    1|
|  17|   32|
|   6|   18|
|   o|    3|
|  19|   12|
|   A|    4|
|  II|    1|
|  AB|    5|
|   9|   17|
|   1|   16|
+----+-----+
only showing top 20 rows

In [19]:
# Grade assignment

In [27]:
from pyspark.sql.functions import col, when

subjects = ["DV","M-II","PP","BEEE","FL","FIMS"]

# Step 1: Force all junk (like 'A', 'AB', 'o') to 0
for subj in subjects:
    data = data.withColumn(subj, when(col(subj).rlike("^[0-9]+$"), col(subj).cast("int")).otherwise(0))

# Step 2: Total and Average
data = data.withColumn("Total", sum(col(c) for c in subjects))
data = data.withColumn("Average", col("Total") / len(subjects))

# Step 3: Grade
data = data.withColumn(
    "Grade",
    when(col("Average") >= 80, "A")
    .when(col("Average") >= 60, "B")
    .when(col("Average") >= 40, "C")
    .otherwise("F")
)

data.select("SNO","NAME","SECTION","Total","Average","Grade").show()

{"ts": "2025-09-24 05:39:28.558", "level": "ERROR", "logger": "DataFrameQueryContextLogger", "msg": "[UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `SNO` cannot be resolved. Did you mean one of the following? [`S.NO`, `DV`, `FL`, `PP`, `BEEE`]. SQLSTATE: 42703", "context": {"file": "jdk.internal.reflect.GeneratedMethodAccessor59.invoke(Unknown Source)", "line": "", "fragment": "col", "errorClass": "UNRESOLVED_COLUMN.WITH_SUGGESTION"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o722.select.\n: org.apache.spark.sql.AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `SNO` cannot be resolved. Did you mean one of the following? [`S.NO`, `DV`, `FL`, `PP`, `BEEE`]. SQLSTATE: 42703;\n'Project ['SNO, 'NAME, SECTION#100, Total#326, Average#327, Grade#328]\n+- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, BEEE#323, FL#324, FIMS#325, DV_Grade#205, Total#326, Average#327, CASE WHEN (Average#327 >= cast(80 as double)) THEN A WHEN (Average#327 >= cast(60 as double)) THEN B WHEN (Average#327 >= cast(40 as double)) THEN C ELSE F END AS Grade#328]\n   +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, BEEE#323, FL#324, FIMS#325, DV_Grade#205, Total#326, (cast(Total#326 as double) / cast(6 as double)) AS Average#327, Grade#274]\n      +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, BEEE#323, FL#324, FIMS#325, DV_Grade#205, ((((((DV#320 + 0) + M-II#321) + PP#322) + BEEE#323) + FL#324) + FIMS#325) AS Total#326, Average#273, Grade#274]\n         +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, BEEE#323, FL#324, CASE WHEN RLIKE(cast(FIMS#271 as string), ^[0-9]+$) THEN cast(FIMS#271 as int) ELSE 0 END AS FIMS#325, DV_Grade#205, Total#272, Average#273, Grade#274]\n            +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, BEEE#323, CASE WHEN RLIKE(cast(FL#270 as string), ^[0-9]+$) THEN cast(FL#270 as int) ELSE 0 END AS FL#324, FIMS#271, DV_Grade#205, Total#272, Average#273, Grade#274]\n               +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, CASE WHEN RLIKE(cast(BEEE#269 as string), ^[0-9]+$) THEN cast(BEEE#269 as int) ELSE 0 END AS BEEE#323, FL#270, FIMS#271, DV_Grade#205, Total#272, Average#273, Grade#274]\n                  +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, CASE WHEN RLIKE(cast(PP#268 as string), ^[0-9]+$) THEN cast(PP#268 as int) ELSE 0 END AS PP#322, BEEE#269, FL#270, FIMS#271, DV_Grade#205, Total#272, Average#273, Grade#274]\n                     +- Project [S.NO#17, SECTION#100, DV#320, CASE WHEN RLIKE(cast(M-II#267 as string), ^[0-9]+$) THEN cast(M-II#267 as int) ELSE 0 END AS M-II#321, PP#268, BEEE#269, FL#270, FIMS#271, DV_Grade#205, Total#272, Average#273, Grade#274]\n                        +- Project [S.NO#17, SECTION#100, CASE WHEN RLIKE(cast(DV#266 as string), ^[0-9]+$) THEN cast(DV#266 as int) ELSE 0 END AS DV#320, M-II#267, PP#268, BEEE#269, FL#270, FIMS#271, DV_Grade#205, Total#272, Average#273, Grade#274]\n                           +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, BEEE#269, FL#270, FIMS#271, DV_Grade#205, Total#272, Average#273, CASE WHEN (Average#273 >= cast(80 as double)) THEN A WHEN (Average#273 >= cast(60 as double)) THEN B WHEN (Average#273 >= cast(40 as double)) THEN C ELSE F END AS Grade#274]\n                              +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, BEEE#269, FL#270, FIMS#271, DV_Grade#205, Total#272, (cast(((((((DV#266 + 0) + M-II#267) + PP#268) + BEEE#269) + FL#270) + FIMS#271) as double) / cast(6 as double)) AS Average#273, Grade#259]\n                                 +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, BEEE#269, FL#270, FIMS#271, DV_Grade#205, ((((((DV#266 + 0) + M-II#267) + PP#268) + BEEE#269) + FL#270) + FIMS#271) AS Total#272, Average#258, Grade#259]\n                                    +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, BEEE#269, FL#270, cast(FIMS#265 as int) AS FIMS#271, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                       +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, BEEE#269, cast(FL#264 as int) AS FL#270, FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                          +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, cast(BEEE#263 as int) AS BEEE#269, FL#264, FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                             +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, cast(PP#262 as int) AS PP#268, BEEE#263, FL#264, FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                                +- Project [S.NO#17, SECTION#100, DV#266, cast(M-II#261 as int) AS M-II#267, PP#262, BEEE#263, FL#264, FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                                   +- Project [S.NO#17, SECTION#100, cast(DV#260 as int) AS DV#266, M-II#261, PP#262, BEEE#263, FL#264, FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                                      +- Project [S.NO#17, SECTION#100, DV#260, M-II#261, PP#262, BEEE#263, FL#264, regexp_replace(cast(FIMS#256 as string), [^0-9], 0, 1) AS FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                                         +- Project [S.NO#17, SECTION#100, DV#260, M-II#261, PP#262, BEEE#263, regexp_replace(cast(FL#255 as string), [^0-9], 0, 1) AS FL#264, FIMS#256, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                                            +- Project [S.NO#17, SECTION#100, DV#260, M-II#261, PP#262, regexp_replace(cast(BEEE#254 as string), [^0-9], 0, 1) AS BEEE#263, FL#255, FIMS#256, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                                               +- Project [S.NO#17, SECTION#100, DV#260, M-II#261, regexp_replace(cast(PP#253 as string), [^0-9], 0, 1) AS PP#262, BEEE#254, FL#255, FIMS#256, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                                                  +- Project [S.NO#17, SECTION#100, DV#260, regexp_replace(cast(M-II#252 as string), [^0-9], 0, 1) AS M-II#261, PP#253, BEEE#254, FL#255, FIMS#256, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                                                     +- Project [S.NO#17, SECTION#100, regexp_replace(cast(DV#251 as string), [^0-9], 0, 1) AS DV#260, M-II#252, PP#253, BEEE#254, FL#255, FIMS#256, DV_Grade#205, Total#257, Average#258, Grade#259]\n                                                                        +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, BEEE#254, FL#255, FIMS#256, DV_Grade#205, Total#257, Average#258, CASE WHEN (Average#258 >= cast(80 as double)) THEN A WHEN (Average#258 >= cast(60 as double)) THEN B WHEN (Average#258 >= cast(40 as double)) THEN C ELSE F END AS Grade#259]\n                                                                           +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, BEEE#254, FL#255, FIMS#256, DV_Grade#205, Total#257, (cast(Total#257 as double) / cast(6 as double)) AS Average#258, Grade#250]\n                                                                              +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, BEEE#254, FL#255, FIMS#256, DV_Grade#205, ((((((DV#251 + 0) + M-II#252) + PP#253) + BEEE#254) + FL#255) + FIMS#256) AS Total#257, Average#249, Grade#250]\n                                                                                 +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, BEEE#254, FL#255, CASE WHEN isnotnull(cast(FIMS#247 as int)) THEN cast(FIMS#247 as int) ELSE 0 END AS FIMS#256, DV_Grade#205, Total#248, Average#249, Grade#250]\n                                                                                    +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, BEEE#254, CASE WHEN isnotnull(cast(FL#246 as int)) THEN cast(FL#246 as int) ELSE 0 END AS FL#255, FIMS#247, DV_Grade#205, Total#248, Average#249, Grade#250]\n                                                                                       +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, CASE WHEN isnotnull(cast(BEEE#245 as int)) THEN cast(BEEE#245 as int) ELSE 0 END AS BEEE#254, FL#246, FIMS#247, DV_Grade#205, Total#248, Average#249, Grade#250]\n                                                                                          +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, CASE WHEN isnotnull(cast(PP#244 as int)) THEN cast(PP#244 as int) ELSE 0 END AS PP#253, BEEE#245, FL#246, FIMS#247, DV_Grade#205, Total#248, Average#249, Grade#250]\n                                                                                             +- Project [S.NO#17, SECTION#100, DV#251, CASE WHEN isnotnull(cast(M-II#243 as int)) THEN cast(M-II#243 as int) ELSE 0 END AS M-II#252, PP#244, BEEE#245, FL#246, FIMS#247, DV_Grade#205, Total#248, Average#249, Grade#250]\n                                                                                                +- Project [S.NO#17, SECTION#100, CASE WHEN isnotnull(cast(DV#242 as int)) THEN cast(DV#242 as int) ELSE 0 END AS DV#251, M-II#243, PP#244, BEEE#245, FL#246, FIMS#247, DV_Grade#205, Total#248, Average#249, Grade#250]\n                                                                                                   +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, BEEE#245, FL#246, FIMS#247, DV_Grade#205, Total#248, Average#249, CASE WHEN (Average#249 >= cast(80 as double)) THEN A WHEN (Average#249 >= cast(60 as double)) THEN B WHEN (Average#249 >= cast(40 as double)) THEN C ELSE F END AS Grade#250]\n                                                                                                      +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, BEEE#245, FL#246, FIMS#247, DV_Grade#205, Total#248, (cast(Total#248 as double) / cast(6 as double)) AS Average#249]\n                                                                                                         +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, BEEE#245, FL#246, FIMS#247, DV_Grade#205, ((((((DV#242 + 0) + M-II#243) + PP#244) + BEEE#245) + FL#246) + FIMS#247) AS Total#248]\n                                                                                                            +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, BEEE#245, FL#246, CASE WHEN isnotnull(cast(FIMS#24 as int)) THEN cast(FIMS#24 as int) ELSE 0 END AS FIMS#247, DV_Grade#205]\n                                                                                                               +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, BEEE#245, CASE WHEN isnotnull(cast(FL#23 as int)) THEN cast(FL#23 as int) ELSE 0 END AS FL#246, FIMS#24, DV_Grade#205]\n                                                                                                                  +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, CASE WHEN isnotnull(cast(BEEE#22 as int)) THEN cast(BEEE#22 as int) ELSE 0 END AS BEEE#245, FL#23, FIMS#24, DV_Grade#205]\n                                                                                                                     +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, CASE WHEN isnotnull(cast(PP#21 as int)) THEN cast(PP#21 as int) ELSE 0 END AS PP#244, BEEE#22, FL#23, FIMS#24, DV_Grade#205]\n                                                                                                                        +- Project [S.NO#17, SECTION#100, DV#242, CASE WHEN isnotnull(cast(M-II#20 as int)) THEN cast(M-II#20 as int) ELSE 0 END AS M-II#243, PP#21, BEEE#22, FL#23, FIMS#24, DV_Grade#205]\n                                                                                                                           +- Project [S.NO#17, SECTION#100, CASE WHEN isnotnull(cast(DV#164L as int)) THEN cast(DV#164L as int) ELSE 0 END AS DV#242, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24, DV_Grade#205]\n                                                                                                                              +- Project [S.NO#17, SECTION#100, DV#164L, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24, CASE WHEN (DV#164L >= cast(80 as bigint)) THEN A WHEN (DV#164L >= cast(60 as bigint)) THEN B WHEN (DV#164L >= cast(40 as bigint)) THEN C ELSE F END AS DV_Grade#205]\n                                                                                                                                 +- Project [S.NO#17, SECTION#100, CASE WHEN (DV#163L = cast(A as bigint)) THEN cast(0 as bigint) ELSE DV#163L END AS DV#164L, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]\n                                                                                                                                    +- Project [S.NO#17, SECTION#100, CASE WHEN (DV#142 = A) THEN cast(0 as bigint) ELSE cast(DV#142 as bigint) END AS DV#163L, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]\n                                                                                                                                       +- Project [S.NO#17, SECTION#100, coalesce(DV#141, cast(0 as string)) AS DV#142, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]\n                                                                                                                                          +- Project [S.NO#17, SECTION#100, coalesce(DV#19, cast(0 as string)) AS DV#141, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]\n                                                                                                                                             +- Project [S.NO#17, CASE WHEN (SECTION#79 = GAMA) THEN GAMMA WHEN (SECTION#79 = SGMA) THEN SIGMA ELSE SECTION#79 END AS SECTION#100, DV#19, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]\n                                                                                                                                                +- Project [S.NO#17, coalesce(SECTION#18, cast(ZETA as string)) AS SECTION#79, DV#19, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]\n                                                                                                                                                   +- Relation [S.NO#17,SECTION#18,DV#19,M-II#20,PP#21,BEEE#22,FL#23,FIMS#24] csv\n\r\n\tat org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:401)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:169)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:404)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:402)\r\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6(CheckAnalysis.scala:402)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6$adapted(CheckAnalysis.scala:402)\r\n\tat scala.collection.immutable.List.foreach(List.scala:334)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:402)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\r\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\r\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\r\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\r\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\r\n\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\r\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\r\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\r\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\r\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\r\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\r\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\r\n\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\r\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\r\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\r\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\r\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\r\n\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\r\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\r\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\r\n\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\r\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\r\n\tat scala.util.Try$.apply(Try.scala:217)\r\n\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\r\n\tat org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1439)\r\n\tat org.apache.spark.util.LazyTry.get(LazyTry.scala:58)\r\n\tat org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:121)\r\n\tat org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:80)\r\n\tat org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$1(Dataset.scala:115)\r\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\r\n\tat org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:113)\r\n\tat org.apache.spark.sql.classic.Dataset.withPlan(Dataset.scala:2263)\r\n\tat org.apache.spark.sql.classic.Dataset.select(Dataset.scala:894)\r\n\tat org.apache.spark.sql.classic.Dataset.select(Dataset.scala:232)\r\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)\r\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)\r\n\tat java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\r\n\tat java.base/java.lang.reflect.Method.invoke(Method.java:568)\r\n\tat py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)\r\n\tat py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)\r\n\tat py4j.Gateway.invoke(Gateway.java:282)\r\n\tat py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)\r\n\tat py4j.commands.CallCommand.execute(CallCommand.java:79)\r\n\tat py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)\r\n\tat py4j.ClientServerConnection.run(ClientServerConnection.java:108)\r\n\tat java.base/java.l

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `SNO` cannot be resolved. Did you mean one of the following? [`S.NO`, `DV`, `FL`, `PP`, `BEEE`]. SQLSTATE: 42703;
'Project ['SNO, 'NAME, SECTION#100, Total#326, Average#327, Grade#328]
+- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, BEEE#323, FL#324, FIMS#325, DV_Grade#205, Total#326, Average#327, CASE WHEN (Average#327 >= cast(80 as double)) THEN A WHEN (Average#327 >= cast(60 as double)) THEN B WHEN (Average#327 >= cast(40 as double)) THEN C ELSE F END AS Grade#328]
   +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, BEEE#323, FL#324, FIMS#325, DV_Grade#205, Total#326, (cast(Total#326 as double) / cast(6 as double)) AS Average#327, Grade#274]
      +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, BEEE#323, FL#324, FIMS#325, DV_Grade#205, ((((((DV#320 + 0) + M-II#321) + PP#322) + BEEE#323) + FL#324) + FIMS#325) AS Total#326, Average#273, Grade#274]
         +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, BEEE#323, FL#324, CASE WHEN RLIKE(cast(FIMS#271 as string), ^[0-9]+$) THEN cast(FIMS#271 as int) ELSE 0 END AS FIMS#325, DV_Grade#205, Total#272, Average#273, Grade#274]
            +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, BEEE#323, CASE WHEN RLIKE(cast(FL#270 as string), ^[0-9]+$) THEN cast(FL#270 as int) ELSE 0 END AS FL#324, FIMS#271, DV_Grade#205, Total#272, Average#273, Grade#274]
               +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, PP#322, CASE WHEN RLIKE(cast(BEEE#269 as string), ^[0-9]+$) THEN cast(BEEE#269 as int) ELSE 0 END AS BEEE#323, FL#270, FIMS#271, DV_Grade#205, Total#272, Average#273, Grade#274]
                  +- Project [S.NO#17, SECTION#100, DV#320, M-II#321, CASE WHEN RLIKE(cast(PP#268 as string), ^[0-9]+$) THEN cast(PP#268 as int) ELSE 0 END AS PP#322, BEEE#269, FL#270, FIMS#271, DV_Grade#205, Total#272, Average#273, Grade#274]
                     +- Project [S.NO#17, SECTION#100, DV#320, CASE WHEN RLIKE(cast(M-II#267 as string), ^[0-9]+$) THEN cast(M-II#267 as int) ELSE 0 END AS M-II#321, PP#268, BEEE#269, FL#270, FIMS#271, DV_Grade#205, Total#272, Average#273, Grade#274]
                        +- Project [S.NO#17, SECTION#100, CASE WHEN RLIKE(cast(DV#266 as string), ^[0-9]+$) THEN cast(DV#266 as int) ELSE 0 END AS DV#320, M-II#267, PP#268, BEEE#269, FL#270, FIMS#271, DV_Grade#205, Total#272, Average#273, Grade#274]
                           +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, BEEE#269, FL#270, FIMS#271, DV_Grade#205, Total#272, Average#273, CASE WHEN (Average#273 >= cast(80 as double)) THEN A WHEN (Average#273 >= cast(60 as double)) THEN B WHEN (Average#273 >= cast(40 as double)) THEN C ELSE F END AS Grade#274]
                              +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, BEEE#269, FL#270, FIMS#271, DV_Grade#205, Total#272, (cast(((((((DV#266 + 0) + M-II#267) + PP#268) + BEEE#269) + FL#270) + FIMS#271) as double) / cast(6 as double)) AS Average#273, Grade#259]
                                 +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, BEEE#269, FL#270, FIMS#271, DV_Grade#205, ((((((DV#266 + 0) + M-II#267) + PP#268) + BEEE#269) + FL#270) + FIMS#271) AS Total#272, Average#258, Grade#259]
                                    +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, BEEE#269, FL#270, cast(FIMS#265 as int) AS FIMS#271, DV_Grade#205, Total#257, Average#258, Grade#259]
                                       +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, BEEE#269, cast(FL#264 as int) AS FL#270, FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]
                                          +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, PP#268, cast(BEEE#263 as int) AS BEEE#269, FL#264, FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]
                                             +- Project [S.NO#17, SECTION#100, DV#266, M-II#267, cast(PP#262 as int) AS PP#268, BEEE#263, FL#264, FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]
                                                +- Project [S.NO#17, SECTION#100, DV#266, cast(M-II#261 as int) AS M-II#267, PP#262, BEEE#263, FL#264, FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]
                                                   +- Project [S.NO#17, SECTION#100, cast(DV#260 as int) AS DV#266, M-II#261, PP#262, BEEE#263, FL#264, FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]
                                                      +- Project [S.NO#17, SECTION#100, DV#260, M-II#261, PP#262, BEEE#263, FL#264, regexp_replace(cast(FIMS#256 as string), [^0-9], 0, 1) AS FIMS#265, DV_Grade#205, Total#257, Average#258, Grade#259]
                                                         +- Project [S.NO#17, SECTION#100, DV#260, M-II#261, PP#262, BEEE#263, regexp_replace(cast(FL#255 as string), [^0-9], 0, 1) AS FL#264, FIMS#256, DV_Grade#205, Total#257, Average#258, Grade#259]
                                                            +- Project [S.NO#17, SECTION#100, DV#260, M-II#261, PP#262, regexp_replace(cast(BEEE#254 as string), [^0-9], 0, 1) AS BEEE#263, FL#255, FIMS#256, DV_Grade#205, Total#257, Average#258, Grade#259]
                                                               +- Project [S.NO#17, SECTION#100, DV#260, M-II#261, regexp_replace(cast(PP#253 as string), [^0-9], 0, 1) AS PP#262, BEEE#254, FL#255, FIMS#256, DV_Grade#205, Total#257, Average#258, Grade#259]
                                                                  +- Project [S.NO#17, SECTION#100, DV#260, regexp_replace(cast(M-II#252 as string), [^0-9], 0, 1) AS M-II#261, PP#253, BEEE#254, FL#255, FIMS#256, DV_Grade#205, Total#257, Average#258, Grade#259]
                                                                     +- Project [S.NO#17, SECTION#100, regexp_replace(cast(DV#251 as string), [^0-9], 0, 1) AS DV#260, M-II#252, PP#253, BEEE#254, FL#255, FIMS#256, DV_Grade#205, Total#257, Average#258, Grade#259]
                                                                        +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, BEEE#254, FL#255, FIMS#256, DV_Grade#205, Total#257, Average#258, CASE WHEN (Average#258 >= cast(80 as double)) THEN A WHEN (Average#258 >= cast(60 as double)) THEN B WHEN (Average#258 >= cast(40 as double)) THEN C ELSE F END AS Grade#259]
                                                                           +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, BEEE#254, FL#255, FIMS#256, DV_Grade#205, Total#257, (cast(Total#257 as double) / cast(6 as double)) AS Average#258, Grade#250]
                                                                              +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, BEEE#254, FL#255, FIMS#256, DV_Grade#205, ((((((DV#251 + 0) + M-II#252) + PP#253) + BEEE#254) + FL#255) + FIMS#256) AS Total#257, Average#249, Grade#250]
                                                                                 +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, BEEE#254, FL#255, CASE WHEN isnotnull(cast(FIMS#247 as int)) THEN cast(FIMS#247 as int) ELSE 0 END AS FIMS#256, DV_Grade#205, Total#248, Average#249, Grade#250]
                                                                                    +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, BEEE#254, CASE WHEN isnotnull(cast(FL#246 as int)) THEN cast(FL#246 as int) ELSE 0 END AS FL#255, FIMS#247, DV_Grade#205, Total#248, Average#249, Grade#250]
                                                                                       +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, PP#253, CASE WHEN isnotnull(cast(BEEE#245 as int)) THEN cast(BEEE#245 as int) ELSE 0 END AS BEEE#254, FL#246, FIMS#247, DV_Grade#205, Total#248, Average#249, Grade#250]
                                                                                          +- Project [S.NO#17, SECTION#100, DV#251, M-II#252, CASE WHEN isnotnull(cast(PP#244 as int)) THEN cast(PP#244 as int) ELSE 0 END AS PP#253, BEEE#245, FL#246, FIMS#247, DV_Grade#205, Total#248, Average#249, Grade#250]
                                                                                             +- Project [S.NO#17, SECTION#100, DV#251, CASE WHEN isnotnull(cast(M-II#243 as int)) THEN cast(M-II#243 as int) ELSE 0 END AS M-II#252, PP#244, BEEE#245, FL#246, FIMS#247, DV_Grade#205, Total#248, Average#249, Grade#250]
                                                                                                +- Project [S.NO#17, SECTION#100, CASE WHEN isnotnull(cast(DV#242 as int)) THEN cast(DV#242 as int) ELSE 0 END AS DV#251, M-II#243, PP#244, BEEE#245, FL#246, FIMS#247, DV_Grade#205, Total#248, Average#249, Grade#250]
                                                                                                   +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, BEEE#245, FL#246, FIMS#247, DV_Grade#205, Total#248, Average#249, CASE WHEN (Average#249 >= cast(80 as double)) THEN A WHEN (Average#249 >= cast(60 as double)) THEN B WHEN (Average#249 >= cast(40 as double)) THEN C ELSE F END AS Grade#250]
                                                                                                      +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, BEEE#245, FL#246, FIMS#247, DV_Grade#205, Total#248, (cast(Total#248 as double) / cast(6 as double)) AS Average#249]
                                                                                                         +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, BEEE#245, FL#246, FIMS#247, DV_Grade#205, ((((((DV#242 + 0) + M-II#243) + PP#244) + BEEE#245) + FL#246) + FIMS#247) AS Total#248]
                                                                                                            +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, BEEE#245, FL#246, CASE WHEN isnotnull(cast(FIMS#24 as int)) THEN cast(FIMS#24 as int) ELSE 0 END AS FIMS#247, DV_Grade#205]
                                                                                                               +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, BEEE#245, CASE WHEN isnotnull(cast(FL#23 as int)) THEN cast(FL#23 as int) ELSE 0 END AS FL#246, FIMS#24, DV_Grade#205]
                                                                                                                  +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, PP#244, CASE WHEN isnotnull(cast(BEEE#22 as int)) THEN cast(BEEE#22 as int) ELSE 0 END AS BEEE#245, FL#23, FIMS#24, DV_Grade#205]
                                                                                                                     +- Project [S.NO#17, SECTION#100, DV#242, M-II#243, CASE WHEN isnotnull(cast(PP#21 as int)) THEN cast(PP#21 as int) ELSE 0 END AS PP#244, BEEE#22, FL#23, FIMS#24, DV_Grade#205]
                                                                                                                        +- Project [S.NO#17, SECTION#100, DV#242, CASE WHEN isnotnull(cast(M-II#20 as int)) THEN cast(M-II#20 as int) ELSE 0 END AS M-II#243, PP#21, BEEE#22, FL#23, FIMS#24, DV_Grade#205]
                                                                                                                           +- Project [S.NO#17, SECTION#100, CASE WHEN isnotnull(cast(DV#164L as int)) THEN cast(DV#164L as int) ELSE 0 END AS DV#242, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24, DV_Grade#205]
                                                                                                                              +- Project [S.NO#17, SECTION#100, DV#164L, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24, CASE WHEN (DV#164L >= cast(80 as bigint)) THEN A WHEN (DV#164L >= cast(60 as bigint)) THEN B WHEN (DV#164L >= cast(40 as bigint)) THEN C ELSE F END AS DV_Grade#205]
                                                                                                                                 +- Project [S.NO#17, SECTION#100, CASE WHEN (DV#163L = cast(A as bigint)) THEN cast(0 as bigint) ELSE DV#163L END AS DV#164L, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]
                                                                                                                                    +- Project [S.NO#17, SECTION#100, CASE WHEN (DV#142 = A) THEN cast(0 as bigint) ELSE cast(DV#142 as bigint) END AS DV#163L, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]
                                                                                                                                       +- Project [S.NO#17, SECTION#100, coalesce(DV#141, cast(0 as string)) AS DV#142, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]
                                                                                                                                          +- Project [S.NO#17, SECTION#100, coalesce(DV#19, cast(0 as string)) AS DV#141, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]
                                                                                                                                             +- Project [S.NO#17, CASE WHEN (SECTION#79 = GAMA) THEN GAMMA WHEN (SECTION#79 = SGMA) THEN SIGMA ELSE SECTION#79 END AS SECTION#100, DV#19, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]
                                                                                                                                                +- Project [S.NO#17, coalesce(SECTION#18, cast(ZETA as string)) AS SECTION#79, DV#19, M-II#20, PP#21, BEEE#22, FL#23, FIMS#24]
                                                                                                                                                   +- Relation [S.NO#17,SECTION#18,DV#19,M-II#20,PP#21,BEEE#22,FL#23,FIMS#24] csv